body {
    background-image: url('rocket.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

@font-face {
    font-family: customFont;
    src: url(PixeloidSans-mLxMm.ttf);
  }

.title {
    color: rgb(0, 0, 0);
    font-family: customFont;
    font-size: 60px;
    font-weight: bold;
    white-space: pre-wrap;
    text-align: right;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.208);
}

.menubar {
    margin-top: -120px;
    width: auto;
    text-align: right;
}

.menubar#menu {
    list-style-type:none;
    color: rgb(0, 0, 0);
    font-family: customFont;
    font-size: 24px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.208);
}

.menubar#menu li {
    display: inline;
}

.menubar#menu a {
    padding: 12px;
  }
